extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="page-text")
            div(class="about")
                div(class="about-img")
                    img(src="../dummy/about.jpg", alt="")
                div(class="page-inner page-inner--w3")
                    div(class="page-title center")
                        h1 О проекте
                    h2 Nous travaillons en étroite collaboration avec nos clients qui ont un interlocuteur identifié et à leur service, de la prise de contact à la livraison du projet.
                    p Our aim is to be the most unique gift company in the world. We constantly strive to source, create and deliver stylish presents that  excite, inspire and delight our customers.
                    p Originally founded as a gift subscription service in 2011. The concept was to make letterboxes a more magical place, we realised that no-one received anything good in
                    p the post anymore, people just got bills, so for a monthly fee we’d send you or a lucky recipient a gift tailored to your interests every month. (Hence the name Not-Another-Bill).
                    p It turned out our customers always wanted to buy more of the presents we sourced for them and so we launched our online gift store a few years later. The store is now a thriving place where we sell a highly curated edit of gifts from around the word. Solving many of our customers gifting dilemmas on a regular basis.
                    p Creating exceptional gifts has always been at the heart of what we do, so earlier this year we launched our very own line of gifts. We took years of learning from our subscribers, listening to feedback, testing colours, styles, and shapes to understand what makes a truly great gift.
