extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="account")
            div(class="page-title center")
                div(class="page-text")
                    h1 Личный кабинет
                    
            div(class="account-container")
                div(class="account-menu")
                    div(class="account-menu-container", data-sticky, data-sticky-offset-top="100")
                        div(class="account-info")
                            div(class="account-avatar")
                                include ../../prod/svg/user-black.svg
                            div(class="account-mail") serginacakes@gmail.com
                        div(class="account-menu-list")    
                            div(class="account-menu-item")
                                a(href="account-profile.html", class="link link-black link-black--bottom-reverse account-menu-item-link") Профиль
                            div(class="account-menu-item")
                                a(href="account-order.html", class="link link-black link-black--bottom-reverse account-menu-item-link") Заказы
                            div(class="account-menu-item")
                                a(href="account-favorite.html", class="link link-black link-black--bottom-reverse account-menu-item-link") Избранное
                            div(class="account-menu-item")
                                a(href="#", class="link link-black link-black--bottom-reverse account-menu-item-link") Бонусная карта
                        a(href="#", class="link link-black link-black--bottom account-menu-logout") Выйти
                    
                div(class="account-panel")
                    div(class="account-panel-name") История заказов
                    div(class="account-panel-history")
                        div(class="account-panel-history-item")
                            a(href="account-order.html", class="link link-black link-black--bottom-reverse") Заказ № 678-98888 от 23 мая 2018
                        div(class="account-panel-history-item")
                            a(href="account-order.html", class="link link-black link-black--bottom-reverse") Заказ № 355-09988 от 01 января 2017
                        div(class="account-panel-history-item")
                            a(href="account-order.html", class="link link-black link-black--bottom-reverse") Заказ № 678-98888 от 23 мая 2018
                        div(class="account-panel-history-item")
                            a(href="account-order.html", class="link link-black link-black--bottom-reverse") Заказ № 355-09988 от 01 января 2017
                        div(class="account-panel-history-item")
                            a(href="account-order.html", class="link link-black link-black--bottom-reverse") Заказ № 678-98888 от 23 мая 2018
                        div(class="account-panel-history-item")
                            a(href="account-order.html", class="link link-black link-black--bottom-reverse") Заказ № 355-09988 от 01 января 2017
                        div(class="account-panel-history-item")
                            a(href="account-order.html", class="link link-black link-black--bottom-reverse") Заказ № 678-98888 от 23 мая 2018
                        div(class="account-panel-history-item")
                            a(href="account-order.html", class="link link-black link-black--bottom-reverse") Заказ № 355-09988 от 01 января 2017
