extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="basket")
            div(class="page-title center")
                div(class="page-text")
                    h1 Ваша карзина
            
            form(class="form basket-form")
                div(class="select-list")
                    div(class="select-item")
                        div(class="select-holder")
                            img(src="../dummy/magazine2.jpg")
                        div(class="select-info")
                            div(class="select-info-row")
                                div(class="select-item-name") Подписка на журнал Forbes
                                div(class="select-item-count")
                                    input(type="number", class="form-item form-item--number", step="1", value="1")
                                div(class="select-item-number", data-price="1200") 1 200.– 
                                div(class="select-item-close")
                                    button(type="button", class="button button-select-close")
                                        include ../../prod/svg/close.svg
                            div(class="select-info-row")
                                div(class="select-item-prop-list")
                                    div(class="select-item-prop-item")
                                        div(class="select-item-prop-name") Период:
                                        div(class="select-item-prop-val") 6 месяцев
                                        
                    div(class="select-item")
                        div(class="select-holder")
                            img(src="../dummy/shop14.png")
                        div(class="select-info")
                            div(class="select-info-row")
                                div(class="select-item-name") Noname AIC Denim Light Wash 30" Inseam
                                div(class="select-item-count")
                                    input(type="number", class="form-item form-item--number", step="1", value="5")
                                div(class="select-item-number", data-price="5200") 5 200.– 
                                div(class="select-item-close")
                                    button(type="button", class="button button-select-close")
                                        include ../../prod/svg/close.svg
                            div(class="select-info-row")
                                div(class="select-item-prop-list")
                                    div(class="select-item-prop-item")
                                        div(class="select-item-prop-name") Размер:
                                        div(class="select-item-prop-val") L
                                    div(class="select-item-prop-item")
                                        div(class="select-item-prop-name") Цвет:
                                        div(class="select-item-prop-val") Голубой
                                        
                    div(class="select-item")
                        div(class="select-holder")
                            img(src="../dummy/shop1.png")
                        div(class="select-info")
                            div(class="select-info-row")
                                div(class="select-item-name") Noname AIC Denim Light Wash 30" Inseam
                                div(class="select-item-count")
                                    input(type="number", class="form-item form-item--number", step="1", data-price="5200", value="1")
                                div(class="select-item-number", data-price="1200") 1 200.– 
                                div(class="select-item-close")
                                    button(type="button", class="button button-select-close")
                                        include ../../prod/svg/close.svg
                            div(class="select-info-row")
                                div(class="select-item-prop-list")
                                    div(class="select-item-prop-item")
                                        div(class="select-item-prop-name") Размер:
                                        div(class="select-item-prop-val") L
                                    div(class="select-item-prop-item")
                                        div(class="select-item-prop-name") Цвет:
                                        div(class="select-item-prop-val") Серый
                                    div(class="select-item-prop-item")
                                        div(class="select-item-prop-name") Вышивка:
                                        div(class="select-item-prop-val") Белая
                                    div(class="select-item-prop-item")
                                        div(class="select-item-prop-name") Место нанесения:
                                        div(class="select-item-prop-val") Впереди вверху
                    
                    div(class="select-item")
                        div(class="select-holder")
                            img(src="../dummy/shop14.png")
                        div(class="select-info")
                            div(class="select-info-row")
                                div(class="select-item-name") Noname AIC Denim Light Wash 30" Inseam
                                div(class="select-item-count")
                                    input(type="number", class="form-item form-item--number", step="1", value="1")
                                div(class="select-item-number", data-price="5200") 5 200.– 
                                div(class="select-item-close")
                                    button(type="button", class="button button-select-close")
                                        include ../../prod/svg/close.svg
                            div(class="select-info-row")
                                div(class="select-item-prop-list")
                                    div(class="select-item-prop-item")
                                        div(class="select-item-prop-name") Размер:
                                        div(class="select-item-prop-val") L
                                    div(class="select-item-prop-item")
                                        div(class="select-item-prop-name") Цвет:
                                        div(class="select-item-prop-val") Голубой
                    
                    div(class="select-item")
                        div(class="select-holder")
                            img(src="../dummy/shop2.png")
                        div(class="select-info")
                            div(class="select-info-row")
                                div(class="select-item-name") Просто шорты
                                div(class="select-item-count")
                                    input(type="number", class="form-item form-item--number", step="1", value="1")
                                div(class="select-item-number", data-price="5200") 5 200.– 
                                div(class="select-item-close")
                                    button(type="button", class="button button-select-close")
                                        include ../../prod/svg/close.svg
                            div(class="select-info-row")
                                div(class="select-item-prop-list")
                                    div(class="select-item-prop-item")
                                        div(class="select-item-prop-name") Размер:
                                        div(class="select-item-prop-val") L
                    
                div(class="select-back")                    
                    a(href="#", class="link link-black--bottom") Вернуться к покупкам
                    
                div(class="select-result")              
                    div(class="select-summ") 
                        span(class="select-summ-all") Всего
                        span(class="select-summ-count") 11 000.– 
                    div(class="select-promocode")
                        input(type="text", id="code", name="code", class="select-promocode-text", placeholder="Введите промокод (если есть)")
                        button(type="button", class="button button--border-black select-promocode-button") Обновить
                    div(class="select-send")
                        button(type="submit", class="button button--black button-color--pink") Оформить заказ
                        
