extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="basket")
            div(class="page-title center")
                div(class="page-text")
                    h1 Ваша карзина
            
            div(class="basket-list")
