extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="brand")
            div(class="page-title center")
                div(class="page-text")
                    h1 Бренды
            
            div(class="brand-list")
                div(class="brand-item")
                    div(class="brand-holder")
                        img(src="../dummy/brands/brand1.png", class="brand-img")
                    div(class="brand-text") Nous travaillons en étroite collaboration avec nos clients qui ont un interlocuteur identifié et à leur service, de la prise de contact à la livraison du projet.
                    a(href="#", class="link link-black--bottom") Товары
                    
                div(class="brand-item")
                    div(class="brand-holder")
                        img(src="../dummy/brands/brand2.png", class="brand-img")
                    div(class="brand-text") Il faut tout d’abord considérer une chose. Le placement d’un site web dans les résultats de recherche est instable, si ce dernier n’est pas bien entretenu. En une semaine un site web peut se retrouver de la 2ème à la 10ème place des résultats.
                    a(href="#", class="link link-black--bottom") Товары
                    
                div(class="brand-item")
                    div(class="brand-holder")
                        img(src="../dummy/brands/brand3.png", class="brand-img")
                    div(class="brand-text") Notre créativité et expertise sont au service des projets et non l’inverse. En misant sur l’essentiel, les projets de nos clients ont tout leur sens.
                    a(href="#", class="link link-black--bottom") Товары
                    
                div(class="brand-item")
                    div(class="brand-holder")
                        img(src="../dummy/brands/brand4.png", class="brand-img")
                    div(class="brand-text") En une semaine un site web peut se retrouver de la 2ème à la 10ème place des résultats de recherche. Il y a en effet deux critères très importants : l’actualisation régulière du site mais aussi la qualité de son contenu. 
                    a(href="#", class="link link-black--bottom") Товары
                    
                div(class="brand-item")
                    div(class="brand-holder")
                        img(src="../dummy/brands/brand5.png", class="brand-img")
                    div(class="brand-text") Nous travaillons en étroite collaboration avec nos clients qui ont un interlocuteur identifié et à leur service, de la prise de contact à la livraison du projet.
                    a(href="#", class="link link-black--bottom") Товары
                    
                div(class="brand-item")
                    div(class="brand-holder")
                        img(src="../dummy/brands/brand6.png", class="brand-img")
                    div(class="brand-text") L’alliance du design et de la technologie est le fondement de notre processus de travail. C’est cette alliance qui nous permet de créer des idées fortes, efficaces et innovantes.
                    a(href="#", class="link link-black--bottom") Товары
                    
                div(class="brand-item")
                    div(class="brand-holder")
                        img(src="../dummy/brands/brand6.png", class="brand-img")
                    div(class="brand-text") Ce processus comprend une partie de webdesign, d'intégration, de développement. Et justement, une fois que cette étape est terminée, on peut penser que le plus dua le temps. Pourtant c’est là que tout commence.
                    a(href="#", class="link link-black--bottom") Товары
                    
                div(class="brand-item")
                    div(class="brand-holder")
                        img(src="../dummy/brands/brand8.png", class="brand-img")
                    div(class="brand-text") Il faut tout d’abord considérer une chose. Le placement d’un site web dans les résultats de recherche est instable, si ce dernier n’est pas bien entretenu. En une semaine un site web peut se retrouver de la 2ème à la 10ème place des résultats.
                    a(href="#", class="link link-black--bottom") Товары
                    
                div(class="brand-item")
                    div(class="brand-holder")
                        img(src="../dummy/brands/brand9.png", class="brand-img")
                    div(class="brand-text") Nous travaillons en étroite collaboration avec nos clients qui ont un interlocuteur identifié et à leur service, de la prise de contact à la livraison du projet.
                    a(href="#", class="link link-black--bottom") Товары
                    
                div(class="brand-item")
                    div(class="brand-holder")
                        img(src="../dummy/brands/brand10.png", class="brand-img")
                    div(class="brand-text") Ce processus comprend une partie de webdesign, d'intégration, de développement, tout cela plugué à un outils d’administration. Bref c’est une grosse opération. site internet seulement quand on aura le temps. Pourtant c’est là que tout commence.
                    a(href="#", class="link link-black--bottom") Товары
                    
