extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="catalog")
            div(class="catalog-menu-container")
                ul(class="catalog-menu")    
                    li(class="catalog-menu-item")   
                        a(href="catalog.html", class="link link-gray link-bold catalog-menu-link active") Все товары    
                    li(class="catalog-menu-item")   
                        a(href="journals.html", class="link link-gray link-bold catalog-menu-link") Журналы    
                    li(class="catalog-menu-item")   
                        a(href="catalog.html", class="link link-gray link-bold catalog-menu-link")  Мероприятия    
                    li(class="catalog-menu-item")   
                        a(href="catalog.html", class="link link-gray link-bold catalog-menu-link") Одежда     
                    li(class="catalog-menu-item")   
                        a(href="catalog.html", class="link link-gray link-bold catalog-menu-link") Аксессуары     
                    li(class="catalog-menu-item")   
                        a(href="catalog.html", class="link link-pink link-bold catalog-menu-link") Акции    
                    li(class="catalog-menu-item")
                        button(type="button", class="button-search", data-search="#search")
                            include ../../prod/svg/search_loupe.svg
            
            div(id="search", class="catalog-search-container hide hide-block")
                form(class="form", action="catalog-load.html")
                    div(class="form-row form-row--w1")
                        div(class="form-holder")
                            input(type="text", placeholder="Что вы ищите", class="form-item form-item--text form-item--text-search", data-select-item=".flex-item", data-select-container="#catalog")
                            button(type="reset", class="form-clear")
                                include ../../prod/svg/close.svg
            
            div(class="catalog-sort-container")
                div(class="catalog-sort-col")
                    div(class="catalog-sort-holder")
                        form(class="form", action="catalog-load.html")
                            select(class="form-select form-select--gray", data-select-item=".flex-item", data-select-container="#catalog")
                                option(selected="selected", class="hide") Пол
                                option Мужской
                                option Женский
                                
                    div(class="catalog-sort-holder")
                        form(class="form", action="catalog-load.html")
                            select(class="form-select form-select--gray", data-select-item=".flex-item", data-select-container="#catalog")
                                option(selected="selected", class="hide") Бренды
                                option ANTW x SNC. 
                                option InFolio 
                        
                div(class="catalog-sort-col")
                    div(class="catalog-sort-holder")
                        form(class="form", action="catalog-load.html")
                            select(class="form-select form-select--gray", data-select-item=".flex-item", data-select-container="#catalog")
                                option(selected="selected", class="hide") Сортировка
                                option По убыванию цены
                                option По возрастанию цены
                                
            div(id="catalog", class="flex-list flex-list--3")
                div(class="flex-item")
                    a(href="card-brand.html", class="link flex-holder")
                        img(src="../dummy/magazine.jpg", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold link-bold flex-category") журналы
                        a(href="brand.html", class="link link-black--bottom-reverse link-bold flex-brand") Forbes 
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Подписка на 12 месяцев 
                    div(class="flex-text") Самый влиятельный независимый деловой проект в мире. Forbes пишет об историях успеха и поражений предпринимателей, новых идеях для бизнеса и инвестиций, а также публикует авторитетные рейтинги.
                    div(class="flex-price") 4 200.– 
                    
                    
                div(class="flex-item")
                    div(class="flex-new") new
                    a(href="card-brand.html", class="link flex-holder")
                        img(src="../dummy/shop1.png", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold link-bold flex-category") одежда
                        a(href="brand.html", class="link link-black--bottom-reverse link-bold flex-brand") ANTW x SNC.  
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Свитшот Barrymore
                    div(class="flex-text") Настоящий уровень качества и стиля. Коллекция для тех, кто ценит свободу как внешнюю, так и внутри себя. Через свою художественную индивидуальность Мариам Чумбуридзе — основатель марки — ANTW раскрывает всю красоту ткани и эстетику пошива.
                    div(class="flex-price") 4 799.– 
                    
                div(class="flex-item")
                    a(href="card-brand.html", class="link flex-holder")
                        img(src="../dummy/magazine2.jpg", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold link-bold flex-category") журналы
                        a(href="brand.html", class="link link-black--bottom-reverse link-bold flex-brand") Forbes 
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Подписка на 6 месяцев 
                    div(class="flex-text") Самый влиятельный независимый деловой проект в мире. Forbes пишет об историях успеха и поражений предпринимателей, новых идеях для бизнеса и инвестиций, а также публикует авторитетные рейтинги.
                    div(class="flex-price") 2 100.– 
                    
                div(class="flex-item")
                    a(href="card-brand.html", class="link flex-holder")
                        img(src="../dummy/shop5.png", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold link-bold flex-category") одежда
                        a(href="brand.html", class="link link-black--bottom-reverse link-bold flex-brand") ANTW x SNC.  
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Свитшот Owens
                    div(class="flex-text") Настоящий уровень качества и стиля. Коллекция для тех, кто ценит свободу как внешнюю, так и внутри себя. Через свою художественную индивидуальность Мариам Чумбуридзе — основатель марки — ANTW раскрывает всю красоту ткани и эстетику пошива.
                    div(class="flex-price") 5 200.– 
                    
                div(class="flex-item")
                    div(class="flex-sale") sale
                    a(href="card-brand.html", class="link flex-holder")
                        img(src="../dummy/shop4.png", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold link-bold flex-category") аксессуары
                        a(href="brand.html", class="link link-black--bottom-reverse link-bold flex-brand") InFolio  
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Обложка на студенческий билет
                    div(class="flex-text") Настоящий уровень качества и стиля. Коллекция для тех, кто ценит свободу как внешнюю, так и внутри себя. Через свою художественную индивидуальность.
                    div(class="flex-newprice") 390.– 
                    div(class="flex-oldprice") 500.– 
                    
                div(class="flex-item")
                    a(href="card-event.html", class="link flex-holder", style="background-image: url(../dummy/bcg.png)")
                        div(class="flex-title-prev") Как увеличить прибыль с помощью Big Data
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold link-bold flex-category") аксессуары
                        a(href="brand.html", class="link link-black--bottom-reverse link-bold flex-brand") InFolio  
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Обложка на студенческий билет
                    div(class="flex-text") Настоящий уровень качества и стиля. Коллекция для тех, кто ценит свободу как внешнюю, так и внутри себя. Через свою художественную индивидуальность.
                    div(class="flex-price") от 23 900.– 
                    
                div(class="flex-item")
                    a(href="card-brand.html", class="link flex-holder")
                        img(src="../dummy/shop7.png", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold link-bold flex-category") одежда
                        a(href="brand.html", class="link link-black--bottom-reverse link-bold flex-brand") ANTW x SNC  
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Обложка на студенческий билет
                    div(class="flex-text") Настоящий уровень качества и стиля. Коллекция для тех, кто ценит свободу как внешнюю, так и внутри себя. Через свою художественную индивидуальность Мариам Чумбуридзе — основатель марки — ANTW раскрывает всю красоту ткани и эстетику пошива.
                    div(class="flex-price") 23 900.– 
                    
                div(class="flex-item")
                    a(href="card-event.html", class="link flex-holder", style="background-image: url(../dummy/shop8.png)")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold link-bold flex-category") одежда
                        a(href="brand.html", class="link link-black--bottom-reverse link-bold flex-brand") InFolio
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Ежедневник датированный 2018
                    div(class="flex-text") Термин Big Data существует более 10 лет. Но всего 15% компаний умеют использовать большие данные для получения финансовой выгоды.
                    div(class="flex-price") 660.– 
                    
                div(class="flex-item")
                    a(href="card-brand.html", class="link flex-holder")
                        img(src="../dummy/shop6.png", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold link-bold flex-category") одежда
                        a(href="brand.html", class="link link-black--bottom-reverse link-bold flex-brand") InFolio
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Ежедневник датированный 2018
                    div(class="flex-text") Термин Big Data существует более 10 лет. Но всего 15% компаний умеют использовать большие данные для получения финансовой выгоды.
                    div(class="flex-price") 390.– 
                    
            div(class="load")
                a(href="catalog-load.html", data-container="#catalog", data-itemsselector=".flex-item", class="link load-container")
                    div(class="load-more")
                    div(class="load-text") Показать еще товары
