extends ../templates/base

block content
    div(class="page-inner page-inner--w3")
        div(class="page-text")
            div(class="delivery")
                div(class="page-title center")
                    h1 Доставка
                
                div(class="delivery-item")
                    h2 Доставка по Москве
                    p Доставка по Москве осуществляется с помощью курьера. Заказ может быть доставлен до двери. 5-7 рабочих дней. 
                
                div(class="delivery-item")
                    h2 Доставка по России
                    p Доставка производится Почтой России. 10-12 рабочих дней.
                
                div(class="delivery-item")
                    h2 Доставка за границу
                    p Доставка производится Почтой России. 12-20 рабочих дней.
