extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="home-slider slider")
            div(class="slider-list")
                div(class="slider-item")
                    div(class="slider-holder")
                        img(src="../dummy/shop1.png", class="slider-img")
                    div(class="slider-info")
                        div(class="slider-info-name")
                            img(src="../dummy/logo-shop.png", class="slider-info-img")
                        div(class="slider-info-text") ANTW — бренд, основанный выпускницей Istituto Marangoni Мариам Чумбуридзе. Дизайнер стремится привнести настоящие западные понятия и эстетику в модную индустрию Москвы — донести настоящий уровень качества и стиля.
                div(class="slider-item")
                    div(class="slider-holder")
                        img(src="../dummy/shop1.png", class="slider-img")
                    div(class="slider-info")
                        div(class="slider-info-name")
                            img(src="../dummy/logo-shop.png", class="slider-info-img")
                        div(class="slider-info-text") ANTW — бренд, основанный выпускницей Istituto Marangoni Мариам Чумбуридзе. Дизайнер стремится привнести настоящие западные понятия и эстетику в модную индустрию Москвы — донести настоящий уровень качества и стиля.
                div(class="slider-item")
                    div(class="slider-holder")
                        img(src="../dummy/shop1.png", class="slider-img")
                    div(class="slider-info")
                        div(class="slider-info-name")
                            img(src="../dummy/logo-shop.png", class="slider-info-img")
                        div(class="slider-info-text") ANTW — бренд, основанный выпускницей Istituto Marangoni Мариам Чумбуридзе. Дизайнер стремится привнести настоящие западные понятия и эстетику в модную индустрию Москвы — донести настоящий уровень качества и стиля.
                div(class="slider-item")
                    div(class="slider-holder")
                        img(src="../dummy/shop1.png", class="slider-img")
                    div(class="slider-info")
                        div(class="slider-info-name")
                            img(src="../dummy/logo-shop.png", class="slider-info-img")
                        div(class="slider-info-text") ANTW — бренд, основанный выпускницей Istituto Marangoni Мариам Чумбуридзе. Дизайнер стремится привнести настоящие западные понятия и эстетику в модную индустрию Москвы — донести настоящий уровень качества и стиля.
            div(class="slider-arrow-container")
    
    div(class="page-inner page-inner--w1")
        div(class="offers")
            div(class="offers-holder")
                img(src="../dummy/3books.png", class="offers-img")
            div(class="offers-title") Penguin Books
            div(class="offers-text") Our publications are stocked at ind liaise directly with all of our stockists, and dispatch our stock directly from our warehouse and fulfillment centre in Berlin, Germany. 
            div(class="offers-discount") 25%
    
    div(class="page-inner page-inner--w1")
        div(class="flex-list flex-list--3")
            div(class="flex-item")
                a(href="#", class="link flex-holder")
                    img(src="../dummy/shop2.png", class="flex-img")
                div(class="flex-title-container")
                    a(href="#", class="link flex-title") Одежда
            div(class="flex-item")
                a(href="#", class="link flex-holder")
                    img(src="../dummy/magazine.jpg", class="flex-img")
                div(class="flex-title-container")
                    a(href="#", class="link flex-title") Журналы
            div(class="flex-item")
                a(href="#", class="link flex-holder")
                    img(src="../dummy/bag.png", class="flex-img")
                div(class="flex-title-container")
                    a(href="#", class="link flex-title") Аксессуары

    div(class="about-home")
        div(class="about-container")
            img(src="../dummy/books_list.png")
        div(class="about-container")
            div(class="about-container-info")
                div(class="title") о проекте
                div(class="about-text") By bringing together the world’s best designers and transformative technologies we create unique objects, made exclusively for you, with minimal environmental impact.
                div(class="about-link")
                    a(href="about.html", class="link link-black link-small link-bold link-black--bottom") Подробнее
    
    div(class="page-inner page-inner--w1")
        div(class="title center") Популярные товары 
              
        
    div(class="page-inner page-inner--w1")
        div(class="flex-list flex-list--3")
            div(class="flex-item")
                a(href="#", class="link flex-holder")
                    img(src="../dummy/shop5.png", class="flex-img")
                div(class="flex-tags-container")
                    a(href="card-brand.html", class="link link-pink link-pink--bottom-reverse link-bold flex-category") одежда
                    a(href="brand.html", class="link link-black--bottom-reverse link-bold flex-brand") ANTW x SNC.
                div(class="flex-title-container")
                    a(href="#", class="link flex-title") Свитшот Owens
                div(class="flex-text") Настоящий уровень качества и стиля. Коллекция для тех, кто ценит свободу как внешнюю, так и внутри себя. Через свою художественную индивидуальность Мариам Чумбуридзе — основатель марки — ANTW раскрывает всю красоту ткани и эстетику пошива.
                div(class="flex-price") 5 200.– 
                
                
            div(class="flex-item")
                a(href="#", class="link flex-holder")
                    img(src="../dummy/shop4.png", class="flex-img")
                div(class="flex-tags-container")
                    a(href="card-accessories.html", class="link link-pink link-pink--bottom-reverse link-bold flex-category") аксессуары
                    a(href="brand.html", class="link link-black--bottom-reverse link-bold flex-brand") InFolio 
                div(class="flex-title-container")
                    a(href="#", class="link flex-title") Обложка на студенческий билет
                div(class="flex-text") Настоящий уровень качества и стиля. Коллекция для тех, кто ценит свободу как внешнюю, так и внутри себя. Через свою художественную индивидуальность.
                div(class="flex-newprice") 390.– 
                div(class="flex-oldprice") 500.– 
                
            div(class="flex-item")
                a(href="#", class="link flex-holder")
                    img(src="../dummy/magazine2.jpg", class="flex-img")
                div(class="flex-tags-container")
                    a(href="card-event.html", class="link link-pink link-pink--bottom-reverse link-bold flex-category") конференция
                    a(href="brand.html", class="link link-black--bottom-reverse link-bold flex-brand") Forbes 
                div(class="flex-title-container")
                    a(href="#", class="link flex-title") Конференция «Как увеличить прибыль с помощью BIG DATA»
                div(class="flex-text") Термин Big Data существует более 10 лет. Но всего 15% компаний умеют использовать большие данные для получения финансовой выгоды.
                div(class="flex-price") 23 900.– 
    
