extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="catalog")
            div(class="catalog-menu-container")
                ul(class="catalog-menu")    
                    li(class="catalog-menu-item")   
                        a(href="catalog.html", class="link link-gray catalog-menu-link") Все товары    
                    li(class="catalog-menu-item")   
                        a(href="journals.html", class="link link-gray catalog-menu-link active") Журналы    
                    li(class="catalog-menu-item")   
                        a(href="catalog.html", class="link link-gray catalog-menu-link")  Мероприятия    
                    li(class="catalog-menu-item")   
                        a(href="catalog.html", class="link link-gray catalog-menu-link") Одежда     
                    li(class="catalog-menu-item")   
                        a(href="catalog.html", class="link link-gray catalog-menu-link") Аксессуары     
                    li(class="catalog-menu-item")   
                        a(href="catalog.html", class="link link-pink catalog-menu-link") Акции    
                    li(class="catalog-menu-item")
                        button(type="button", class="button-search", data-search="#search")
                            include ../../prod/svg/search_loupe.svg
            
            div(id="search", class="catalog-search-container hide hide-block")
                form(class="form", action="catalog-load.html")
                    div(class="form-row form-row--w1")
                        div(class="form-holder")
                            input(type="text", placeholder="Что вы ищите", class="form-item form-item--text form-item--text-search", data-select-item=".flex-item", data-select-container="#catalog")
                            button(type="reset", class="form-clear")
                                include ../../prod/svg/close.svg
            
            div(class="catalog-sort-container")
                div(class="catalog-sort-col")
                    div(class="catalog-sort-holder")
                        form(class="form", action="catalog-load.html")
                            select(class="form-select form-select--gray", data-select-item=".flex-item", data-select-container="#catalog")
                                option(selected="selected", class="hide") Бренды
                                option Бренд №1
                                option Бренд №2
                                option Бренд №3
                                option Бренд №4
                                
                div(class="catalog-sort-col")
                    div(class="catalog-sort-holder")
                        form(class="form", action="catalog-load.html")
                            select(class="form-select form-select--gray", data-select-item=".flex-item", data-select-container="#catalog")
                                option(selected="selected", class="hide") Сортировка
                                option По убыванию цены
                                option По возрастанию цены
            
            div(class="catalog-sub")
                div(class="catalog-sub-holder")
                    img(src="../dummy/sub_logo.png")
                div(class="catalog-sub-text") Подпишитесь на электронные версии через мобильные приложения. Приложение называется ACMG — глянцевые журналы онлайн. 
                div(class="catalog-sub-img")
                    a(href="#", class="link catalog-sub-img-holder")
                        img(src="../dummy/app-store.png")
                    a(href="#", class="link catalog-sub-img-holder")
                        img(src="../dummy/google-play.png")
            
                            
            div(id="catalog", class="flex-list flex-list--3")
                div(class="flex-item")
                    a(href="#", class="link flex-holder")
                        img(src="../dummy/magazine.jpg", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold flex-category") журналы
                        a(href="brand.html", class="link link-black--bottom-reverse flex-brand") Forbes 
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Подписка на 12 месяцев 
                    div(class="flex-text") Самый влиятельный независимый деловой проект в мире. Forbes пишет об историях успеха и поражений предпринимателей, новых идеях для бизнеса и инвестиций, а также публикует авторитетные рейтинги.
                    div(class="flex-price") 4 200.– 
                div(class="flex-item")
                    a(href="#", class="link flex-holder")
                        img(src="../dummy/magazine2.jpg", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold flex-category") журналы
                        a(href="brand.html", class="link link-black--bottom-reverse flex-brand") Forbes 
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Подписка на 12 месяцев 
                    div(class="flex-text") Самый влиятельный независимый деловой проект в мире. Forbes пишет об историях успеха и поражений предпринимателей, новых идеях для бизнеса и инвестиций, а также публикует авторитетные рейтинги.
                    div(class="flex-price") 4 200.– 
                div(class="flex-item")
                    a(href="#", class="link flex-holder")
                        img(src="../dummy/magazine3.png", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold flex-category") журналы
                        a(href="brand.html", class="link link-black--bottom-reverse flex-brand") Forbes 
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Подписка на 12 месяцев 
                    div(class="flex-text") Самый влиятельный независимый деловой проект в мире. Forbes пишет об историях успеха и поражений предпринимателей, новых идеях для бизнеса и инвестиций, а также публикует авторитетные рейтинги.
                    div(class="flex-price") 4 200.– 
                div(class="flex-item")
                    a(href="#", class="link flex-holder")
                        img(src="../dummy/magazine.jpg", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold flex-category") журналы
                        a(href="brand.html", class="link link-black--bottom-reverse flex-brand") Forbes 
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Подписка на 12 месяцев 
                    div(class="flex-text") Самый влиятельный независимый деловой проект в мире. Forbes пишет об историях успеха и поражений предпринимателей, новых идеях для бизнеса и инвестиций, а также публикует авторитетные рейтинги.
                    div(class="flex-price") 4 200.– 
                div(class="flex-item")
                    a(href="#", class="link flex-holder")
                        img(src="../dummy/magazine2.jpg", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold flex-category") журналы
                        a(href="brand.html", class="link link-black--bottom-reverse flex-brand") Forbes 
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Подписка на 12 месяцев 
                    div(class="flex-text") Самый влиятельный независимый деловой проект в мире. Forbes пишет об историях успеха и поражений предпринимателей, новых идеях для бизнеса и инвестиций, а также публикует авторитетные рейтинги.
                    div(class="flex-price") 4 200.– 
                div(class="flex-item")
                    a(href="#", class="link flex-holder")
                        img(src="../dummy/magazine3.png", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold flex-category") журналы
                        a(href="brand.html", class="link link-black--bottom-reverse flex-brand") Forbes 
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Подписка на 12 месяцев 
                    div(class="flex-text") Самый влиятельный независимый деловой проект в мире. Forbes пишет об историях успеха и поражений предпринимателей, новых идеях для бизнеса и инвестиций, а также публикует авторитетные рейтинги.
                    div(class="flex-price") 4 200.– 
                div(class="flex-item")
                    a(href="#", class="link flex-holder")
                        img(src="../dummy/magazine.jpg", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold flex-category") журналы
                        a(href="brand.html", class="link link-black--bottom-reverse flex-brand") Forbes 
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Подписка на 12 месяцев 
                    div(class="flex-text") Самый влиятельный независимый деловой проект в мире. Forbes пишет об историях успеха и поражений предпринимателей, новых идеях для бизнеса и инвестиций, а также публикует авторитетные рейтинги.
                    div(class="flex-price") 4 200.– 
                div(class="flex-item")
                    a(href="#", class="link flex-holder")
                        img(src="../dummy/magazine2.jpg", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold flex-category") журналы
                        a(href="brand.html", class="link link-black--bottom-reverse flex-brand") Forbes 
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Подписка на 12 месяцев 
                    div(class="flex-text") Самый влиятельный независимый деловой проект в мире. Forbes пишет об историях успеха и поражений предпринимателей, новых идеях для бизнеса и инвестиций, а также публикует авторитетные рейтинги.
                    div(class="flex-price") 4 200.– 
                div(class="flex-item")
                    a(href="#", class="link flex-holder")
                        img(src="../dummy/magazine3.png", class="flex-img")
                    div(class="flex-tags-container")
                        a(href="category.html", class="link link-pink link-pink--bottom-reverse link-bold flex-category") журналы
                        a(href="brand.html", class="link link-black--bottom-reverse flex-brand") Forbes 
                    div(class="flex-title-container")
                        a(href="#", class="link flex-title") Подписка на 12 месяцев 
                    div(class="flex-text") Самый влиятельный независимый деловой проект в мире. Forbes пишет об историях успеха и поражений предпринимателей, новых идеях для бизнеса и инвестиций, а также публикует авторитетные рейтинги.
                    div(class="flex-price") 4 200.– 

                    
            div(class="load")
                a(href="catalog-load.html", data-container="#catalog", data-itemsselector=".flex-item", class="link load-container")
                    div(class="load-more")
                    div(class="load-text") Показать еще товары
