extends ../templates/base

block content
    div(class="page-order")
        div(class="order-dec")
            form(class="form form-order")
                div(class="form-order-title") Оформление заказа
                
                div(class="form-section")
                    div(class="form-section-name") Способ доставки
                    div(class="form-row  form-row--w1")
                        div(class="form-holder")
                            div(class="form-group")
                                div(class="form-group-label")
                                    label(for="method_1", class="form-label")
                                        input(type="radio", id="method_1", name="method_1", required, data-error="Это обязательное поле", aria-required="true", data-jcf-class="form-item--radio", class="form-item form-item--radio")
                                        span(class="form-item-title") Самовывоз из офиса (Москва, пер. Столярный, д. 3,)
                                span(class="form-item-price") 0.– 
                            div(class="form-padding")
                                a(href="#", class="link link-gray form-link-moreinfo") Подробнее о способе доставки 
                                
                    div(class="form-row  form-row--w1")
                        div(class="form-holder")
                            div(class="form-group")
                                div(class="form-group-label")
                                    label(for="method_2", class="form-label")
                                        input(type="radio", id="method_2", name="method_1", required, data-error="Это обязательное поле", aria-required="true", data-jcf-class="form-item--radio", class="form-item form-item--radio")
                                        span(class="form-item-title") Доставка курьером по Москве
                                span(class="form-item-price") 300.–
                            div(class="form-padding")
                                a(href="#", class="link link-gray form-link-moreinfo") Подробнее о способе доставки 
                            div(class="form-padding")
                                div(class="form-row form-row--w1")
                                    div(class="form-holder")
                                        label(for="street", class="form-label")
                                            span(class="form-label-text") Улица
                                        input(type="text", id="street", name="street", required, data-error="Ваша улица", aria-required="true", placeholder="Улица", class="form-item form-item--text")
                                div(class="form-row form-row--w3")
                                    div(class="form-holder")
                                        label(for="house", class="form-label")
                                            span(class="form-label-text") Дом
                                        input(type="text", id="house", name="house", required, data-error="Ваш дом", aria-required="true", placeholder="Дом", class="form-item form-item--text")
                                    div(class="form-holder")
                                        label(for="section", class="form-label")
                                            span(class="form-label-text") Корпус
                                        input(type="text", id="section", name="section", placeholder="Корпус", class="form-item form-item--text")
                                    div(class="form-holder")
                                        label(for="apartment", class="form-label")
                                            span(class="form-label-text") Квартира
                                        input(type="text", id="apartment", name="apartment", placeholder="Корпус", class="form-item form-item--text")
                    
                    div(class="form-row  form-row--w1")
                        div(class="form-holder")
                            div(class="form-group")
                                div(class="form-group-label")
                                    label(for="method_3", class="form-label")
                                        input(type="radio", id="method_3", name="method_1", required, data-error="Это обязательное поле", aria-required="true", data-jcf-class="form-item--radio", class="form-item form-item--radio")
                                        span(class="form-item-title") Доставка почтой России
                                span(class="form-item-price") 400.–
                            div(class="form-padding")
                                a(href="#", class="link link-gray form-link-moreinfo") Подробнее о способе доставки 
                
                div(class="form-section")
                    div(class="form-section-name") Получатель
                    div(class="form-row  form-row--w1")
                        div(class="form-holder")
                            div(class="form-padding")
                                div(class="form-row form-row--w1")
                                    div(class="form-holder")
                                        label(for="street", class="form-label")
                                            span(class="form-label-text") Полное имя
                                        input(type="text", id="street", name="street", required, data-error="Ваша имя", aria-required="true", placeholder="Полное имя", class="form-item form-item--text")
                                div(class="form-row form-row--w1")
                                    div(class="form-holder")
                                        label(for="email", class="form-label")
                                            span(class="form-label-text") Email
                                        input(type="email", id="email", name="email", required, data-error="Ваш email", aria-required="true", placeholder="Email", class="form-item form-item--text")
                                div(class="form-row form-row--w1")
                                    div(class="form-holder")
                                        label(for="mobile", class="form-label")
                                            span(class="form-label-text") Телефон
                                        input(type="text", id="mobile", name="mobile", required, data-error="Ваш телефон", aria-required="true", placeholder="Телефон", data-pattern="mobileRU", data-number="+7 (000) 000-00-00", class="form-item form-item--text", maxlength="18")
                
                div(class="form-section form-section--bold")
                    div(class="form-section-name") Способ оплаты
                    div(class="form-row form-row--w1")
                        div(class="form-holder")
                            div(class="form-group")
                                div(class="form-group-label")
                                    label(for="method_4", class="form-label")
                                        input(type="radio", id="method_4", name="method_4", required, data-error="Это обезательное поле", aria-required="true", data-jcf-class="form-item--radio", class="form-item form-item--radio")
                                        span(class="form-item-title") Банковской картой на сайте
                    div(class="form-row form-row--w1")
                        div(class="form-holder")
                            div(class="form-group")
                                div(class="form-group-label")
                                    label(for="method_5", class="form-label")
                                        input(type="radio", id="method_5", name="method_4", required, data-error="Это обезательное поле", aria-required="true", data-jcf-class="form-item--radio", class="form-item form-item--radio")
                                        span(class="form-item-title") Наличными при получении
                                    
                div(class="form-section")
                    div(class="form-row form-row--w1")
                        div(class="form-holder")
                            div(class="form-group")
                                label(for="method_6", class="form-label")
                                    input(type="checkbox", id="method_6", name="method_6", required, data-error="Это обезательное поле", aria-required="true" , class="form-item form-item--checkbox")
                                    span(class="form-item-title") Согласен с условиями 
                                        a(href="#", class="link link-black link-black--bottom") публичной оферты
                                    
                div(class="form-row form-row--w1")
                    button(type="submit", class="button button--black button-color--pink") Подтвердить заказ
                
        div(class="order-basket")
            div(class="order-basket-container", data-sticky, data-sticky-offset-top="50")
                div(class="order-basket-title") Корзина 
                div(class="order-basket-list") 
                    div(class="order-basket-item")
                        div(class="order-basket-name") 3 товара
                        div(class="order-basket-price") 11 000.– 
                    div(class="order-basket-item")
                        div(class="order-basket-name") Доставка
                        div(class="order-basket-price") 300.–
                div(class="order-basket-item")
                    div(class="order-basket-name") Итого
                    div(class="order-basket-price") 11 300.–                    
