extends ../templates/base

block content
    div(class="page-order")
        div(class="order-result")
            div(class="page-text")
                h1 Спасибо за заказ
            div(class="order-result-subtitle") Заказ №575-65787
            div(class="order-result-text") В ближайшее время наш менеджер свяжется с вами для подтверждения заказа №575-65787 на сумму 11 500 руб.  Ваш телефон: +7 928 679 89 89 
            div(class="order-result-back")
                a(href="#", class="link link-black link-black--bottom") Вернуться к покупам
