@media screen and (max-width: 1024px)
    .page-header
        padding 10px 20px
        margin-bottom 80px

        .header-menu
            display none

        .header-burger-holder
            display block

        .header-userbar-link.header-userpanel
            display none

    .page-footer
        padding 30px 40px

        .footer-row
            flex-wrap wrap
            margin-bottom 50px

            .footer-cards
                width 100%
                justify-content flex-start
                margin-bottom 40px
                order -1

    .flex-list
        .flex-item
            .flex-holder
                height 300px

    .offers
        padding 10px 100px 10px 40px

        .offers-text
            font-size 18px

    .about-home
        margin-bottom 90px

        .about-container
            .about-container-info
                padding 50px 20px 65px 25px

                .title
                    margin-bottom 35px

                .about-text
                    font-size 28px
                    margin-bottom 45px

            .about-link
                padding-left 0

@media screen and (max-width: 920px)
    .page-text
        h1
            line-height 40px
            font-size 30px
            font-family "ProximaNovaBold"

        h2
            line-height 32px
            font-size 22px
            font-family "ProximaNovaBold"

    	h3
    		line-height 30px
    		font-size 20px

    .page-header
        margin-bottom 70px

        .header-userbar
            .header-userbar-link
                margin-right 15px

                .header-userbar-name
                    display none

    .flex-list
        .flex-item
            max-width 100%

            margin-right 0

    .slider
        .slider-item
            padding 30px 20px

        .slider-arrow-container
            display none

    .page-footer-order
        .page-footer-order-text
            display block
            margin-bottom 20px

    .page-footer
        .footer-row
            justify-content flex-start
            margin-bottom auto

            .footer-contacts
                justify-content flex-start
                width 100%
                margin-bottom 40px

                .footer-contacts-logo
                    margin-right 30px

            .footer-privacy-name
                width 100%

            .footer-dispatch
                .form-text
                    margin-bottom 20px

            .footer-social
                order 1
                margin-right 15px

            .footer-creators
                order 2

            .footer-privacy
                margin-top 55px
                order 3
                width 100%

                .footer-privacy-name
                    display block
                    margin-bottom 25px

    .catalog-similar
        .title
            text-align center

    .catalog
        margin-bottom 80px

        .catalog-breadcrumbs
            flex-wrap wrap

            .catalog-breadcrumbs-item
                margin-bottom 10px

        .catalog-menu-container
            margin-bottom 10px

        .catalog-sort-container
            justify-content flex-start
            align-items flex-start
            flex-flow column

            .catalog-sort-col
                width 100%
                justify-content flex-start
                align-items flex-start
                flex-flow column

                .catalog-sort-holder
                    width 100%
                    margin-bottom 15px

        .catalog-menu
            flex-wrap wrap

            .catalog-menu-item
                margin-bottom 20px

        .catalog-card
            flex-flow column-reverse

            .catalog-item-info
                display none
                &--mobile
                    display block
                    margin-bottom 55px

                .catalog-item-price
                    margin-bottom 35px

                .catalog-item-text
                    margin-bottom 30px

                dl
                    margin-bottom 30px

            .catalog-text-image
                font-size 28px
                line-height 38px
                padding 20px
                box-sizing border-box

            .catalog-reviews
                .catalog-reviews-item
                    flex-flow column

                    .catalog-reviews-holder
                        padding 20px 0
                        max-width 95px

                    .catalog-reviews-date
                        right 20px

                    &-answer
                        .catalog-reviews-container
                            &:before
                                content none

                        .catalog-reviews-date
                            right 0
                            top -55px

                    .catalog-reviews-container
                        padding 30px 20px

            .catalog-card-item--65
                max-width 100%

            .catalog-card-item--30
                max-width 100%

        .catalog-reviews-auth
            flex-flow column
            justify-content flex-start
            align-content flex-start

            .catalog-reviews-auth-text
                width 100%
                margin-bottom 40px
                text-align center

                line-height 18px

            .catalog-reviews-auth-button
                width 100%

        .catalog-about
            h2
                font-size 32px
                margin-bottom 20px

            h3
                font-size 18px

        .catalog-photos
            flex-flow column

            .catalog-photos-item--w50
                max-width 100%

            .catalog-photos-item
                .catalog-photos-info
                    padding 20px
                    margin-bottom 30px

                    font-size 28px

        .catalog-brand-title
            padding-top 50px

        .catalog-sub
            flex-flow column
            justify-content flex-start
            align-items flex-start

            .catalog-sub-holder
                max-width 40%
                margin-bottom 20px

            .catalog-sub-text
                max-width 100%
                margin-bottom 20px

            .catalog-sub-img
                max-width 30%

    .flex-list
        .flex-item
            margin-bottom 30px

            .flex-holder
                margin-bottom 35px

            .flex-tags-container
                margin-bottom 20px

            .flex-title-container
                margin-bottom 25px

            .flex-text
                margin-bottom 20px

    .load
        margin-bottom 40px

    .page-order
        flex-flow column-reverse

        .order-dec
            max-width 100%

        .order-basket
            max-width 100%
            margin-bottom 30px

    .form-order
        .form-order-title
            font-size 28px
            padding-bottom 20px
            margin-bottom 20px

        .form-section
            .form-section-name
                font-size 20px
                padding-bottom 15px
                margin-bottom 15px

        .form-row--border-bottom
            padding-bottom 20px

        .jcf-radio.form-item--radio
            margin-right 10px
            float left

        .form-row
            margin-bottom 20px

            .form-padding
                padding-left 0

            .form-label
                .form-item-title
                    float right
                    width 80%

            .form-group
                flex-flow column
                justify-content flex-start
                align-items flex-start

                .form-group-label
                    margin-right 0

            &--w3
                flex-flow column

                .form-holder
                    width 100%
                    margin-bottom 20px

    .brand-list
        flex-flow column

        .brand-item
            max-width  100%
            margin-bottom 30px

    .about
        .about-img
            margin-bottom 30px

        .page-title
            margin-bottom 0

        h1
            margin-bottom 30px

    .delivery
        .delivery-item
            margin-bottom 30px

            h2
                margin-bottom 25px

    .page-title
        margin-bottom 30px

    .form
        .form-row
            flex-flow column

            &.catalog-form-order
                flex-flow row
        .form-row--w2
            .form-holder
                width 100%
                margin-bottom 20px

                &:last-child
                    margin-bottom 0

        .form-row--w3
            .form-holder
                width 100%
                margin-bottom 20px

                &:last-child
                    margin-bottom 0

    .account-container
        .account-menu
            display none

        .account-panel
            max-width 100%

            .account-panel-name
                margin-bottom 20px

            .account-panel-order
                .account-panel-order-include
                    flex-flow column
                    align-items flex-start
                    justify-content flex-start

                    margin-bottom 20px

                    .account-panel-order-item--w3
                        flex 1
                        margin-bottom 15px

    .basket
        padding 0
@media screen and (max-width: 700px)

    .select-result
        width 100%
        margin-top 20px

        .select-promocode
            flex-flow column

            .select-promocode-text
                width 100%
                margin-bottom 10px

            .select-promocode-button
                width 100%


        .select-summ
            margin-bottom 20px

            .select-summ-count
                margin-right 0

        .select-promocode
            margin-bottom 20px

    .select-list
        .select-item
            flex-flow column

            .select-holder
                min-width 100%
                max-width 100%
                padding 20px
                margin-bottom 10px
                margin-right 0

            .select-info
                max-width 100%
                padding 0 10px
                box-sizing border-box

                .select-info-row
                    position relative
                    flex-wrap wrap
                    margin-bottom 20px

                .select-item-close
                    position absolute
                    top 0
                    right 0
                    margin-right 0

                .select-item-name
                    width 100%
                    margin-bottom 20px
                    flex auto
                    padding-right 30px

                .select-item-count
                    margin-right 10px

                .select-item-number
                    margin-right 10px


    .slider
        .slider-item
            flex-flow column

        .slider-holder
            max-width 60%
            margin-right 0

        .slider-info
            max-width 100%

            .slider-info-text
                font-size 16px
                line-height 26px

    .offers
        flex-flow column
        justify-content flex-start
        align-items flex-start

        padding 60px 20px 40px 20px

        .offers-holder
            margin-right 0

        .offers-title
            margin-right 0
            width 100%

        .offers-text
            margin-right 0
            width 100%

        &:after
            top -150px

        &:before
            top 250px

    .title
        margin-bottom 30px

    .about-home
        flex-flow column
        justify-content flex-start
        align-items flex-start

        margin-bottom 30px

        .about-container
            width 100%

            .about-container-info
                padding 30px 20px

                .title
                    margin-bottom 20px

                .about-text
                    margin-bottom 20px
                    font-size 16px
                    line-height 26px

@media screen and (max-width: 460px)
    .page-footer
        padding 30px 20px

        .footer-row
            .footer-social
                margin-bottom 20px

                .footer-social-item
                    margin-right 10px

            .footer-contacts
                .footer-contacts-logo
                    max-width 85px

    .catalog
        .catalog-photos
            .catalog-photos-item
                .catalog-photos-info
                    font-size 18px
                    line-height 28px

        .catalog-card
            .catalog-holder-image--half
                padding 10% 0

                .catalog-image-container
                    max-width 60%
        .catalog-sub
            padding 20px

            .catalog-sub-holder
                max-width 100%
                margin-bottom 20px

            .catalog-sub-img
                max-width 100%


    .page-header
        .header-userbar
            .header-userbar-link
                width 35px
                margin-right 5px

    .form-popup
        &.mfp-wrap
            .mfp-content
                max-width 100%
                padding 20px

    .page-basket
        padding 25px 20px
        box-sizing border-box
        max-width 280px

        .page-basket-title
            padding 0 0 20px 0
            margin-bottom 10px
            text-align center

        .page-basket-item
            flex-flow column
            padding-bottom 20px
            margin-bottom 10px

            .page-basket-holder
                max-width 150px
                margin-right 0

            .page-basket-info
                .page-basket-name
                    margin-bottom 10px

        .page-basket-close
            display none
